.band-error, .song-error {
  border: 1px solid red;
  margin-top:5px;
  padding: 5px;
  width: 90%;
  font-size: 13px;
  display:none;
  }
  .container {
    padding-top: 20px;
  }

  .lyrics-content {
    white-space: pre-wrap;
  }