/* CSS Variables */
:root {
--primary-color: #450EB4;
--secondary-color: #f2f2f2;
--primary-font: 'Lilita One', cursive;
--secondary-font: 'Open Sans', sans-serif;
}

/* Main CSS */
body {
  font-family: var(--secondary-font);
  color: var(--secondary-color)
}

h1 {
  font-family: var(--primary-font);
}

.lyric--grid__container {
display: grid;
grid-template-columns: 0.8fr 2fr;
justify-items: stretch;
align-items: flex-start;
height: 100%;
}

.lyric--grid__item {
  padding: 20px 10px 20px 20px;
  height: 100%;
}

.sidebar {
  background-color: var(--primary-color);
}

.main-content {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.loader {
  border: 16px solid var(--secondary-color);
  border-top: 16px solid var(--primary-color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  padding-right: 20px;
  padding-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

.sidebar p {
  font-weight: 300;
  line-height: 1.5;
}

.lyrics-title {
  font-family: var(--primary-font);
  text-transform: uppercase;
}

/* Form CSS */
#lyrics-form {
  padding: 10px;

}

#lyrics-form input {
width: 90%;
padding: 5px;
border: 1px solid var(--secondary-color);
margin-top: 5px;
}

.standard-label {
width: 90%;
}

#lyrics-form button {
padding: 10px 20px 10px 20px;
background-color: var(--secondary-color);
color: var(--primary-color);
font-family: var(--primary-font);
text-transform: uppercase;
font-size: 16px;
transition: 0.3s opacity;
}

#lyrics-form button:hover, #lyrics-form button:active {
  opacity: 0.8;
  curser: pointer;
}

.band-error, .song-error {
border: 1px solid red;
padding: 5px;
width: 90%;
font-size: 13px;
display:none;
}

.lyrics-content {
  white-space: pre-wrap;
}


/* Mobile Optimisation */
@media all and (max-width: 450px) { 

  .lyric--grid__container {
  grid-template-columns: 1fr;
}

.sidebar {
  text-align: center;
}
.main-content {
  text-align: center;
}
#lyrics-form {
  text-align: center;
}


}